# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code settings (descomenta si quieres excluir la configuración de VS Code)
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# Firebase configuration files
google-services.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart  # Archivo generado por flutterfire configure

# Firebase config for web
/web/firebaseConfig.js


# Local environment/configuration files
*.env

# Node.js (if using Node.js dependencies)
/node_modules/

# OS specific files
Thumbs.db  # Windows
*.tmp
*.log

##
lib/core/config/constants.dart